.container {
    .myswiper {
        width:100%;
        .Swiperslide{
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}